<div id="complexNavbar">
    <link rel=" stylesheet" href="./Slice/Components/complexNavbar/complexNavbar.css" type="text/css">
<header>
<a href="#" id="logoLink" class="logo"> <i class="fa fa-home"></i> <span id="logo"></span></a>
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
<ul class="navbar"> </ul> 
<div class="main">
    <a href="" id ="sign-in" class="user"><i class="fa fa-user"></i> Sign In</a>
    <div > <i id="menu-icon" class="fa fa-navicon" ></i></div>
</div>

</header>
</div>


