/*
 * This CSS is only for the DIV created in index.js that was used to append content into the DOM, .grid is the class
 * class of that DIV.
*/
*{
    margin:20px;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}