<div id="Card">
    <link rel="stylesheet" href="Slice/Components/Card/Card.css">
    <link 
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
      rel="stylesheet"  type='text/css'>
       <div class="card c">
        <div id="icon-con" class="icon">
            
        </div>
        <div class="info__description">
            <div class="title">Multijugador</div>
            <p id="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, repellendus dolor dolorem voluptate aut expedita doloribus molestias modi libero excepturi cum perferendis laboriosam praesentium provident suscipit, eius impedit quidem magnam ipsa similique necessitatibus nam delectus nesciunt magni! Temporibus autem, reprehenderit amet quidem aliquid architecto, blanditiis, neque quam asperiores eum enim.</p>
        </div>
    </div>
</div>

