
<link rel="stylesheet" href="./Slice/css/Card.css">
<div class="container">
    <div  class="card">
        <div class="img"> <img id="image" src="../Slice/img/image1.jpg"> </div>
        <div class="top-text">
            <div id="title" class="name">Title</div>
            <p id="subtitle">Subtitle</p>
        </div>
        <div class="bottom-text">
            <div id="description" class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit
                quasi cum perspiciatis, minima reiciendis magni quam!
            </div>
            <div class="btn">
                <a id="read-btn" href="#">Read more</a>
            </div>
        </div>
    </div>