    <link rel="stylesheet" href="./Slice/components/front/Navbar/Navbar.css">
    <header class="header">
        <nav class="nav">
            <a href="#" class="averus logo">VKrafts</a>
            <button class="toggle pos">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul id="title-container" class="nav-menu">
                <li class="nav-menu-item "> <a href="#" id="script" class="averus nav-menu-link"> Caligrafia </a></li>
                <li class="nav-menu-item"> <a href="#"  id="imprenta" class="averus nav-menu-link"> Imprenta </a> </li>
                <li class="nav-menu-item"> <a href="https://www.instagram.com/vkrafts_mcbo/?hl=es" class="averus nav-menu-link"> Contactanos </a> </li>
            </ul>


        </nav>

    </header>
    
